app/config/config.ini
cache/volt/*.php
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
vendor/*
public/storage/archivoscandidato/
public/assets/css/variables/style_produccion.css

public/archfactura/
public/archfactura/

public/transportes/

public/contrarecibo/*.pdf
public/contrarecibo/*.pdf
public/archivosvac/*


public/images/logoempresa/*
!public/images/logoempresa/iniciador.jpg

public/endosos/*.pdf
public/archivosexc/*

public/polizas/*.pdf

public/archivos/*

public/recibos/*.pdf

public/reporte/*.pdf

public/reportes/*.pdf

public/mpdf/*

public/reporte/*
public/graficasencuesta/*


.htaccess

public/.htaccess

!public/img/.htaccess

.prettierignore