<div id="centro'+nextinput+'">
	<label for="emp_razonsocial" class="control-label">CENTRO DE TRABAJO NÚM. '+nextinput+'</label>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Ubicación</label>  
			<input type="text" id="ubicacion'+nextinput+'" name="ubicacion[]" class="form-control" maxlength="150" placeholder="Ubicación" required="true" aria-required="true">
		</div>
	</div>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Nombre de rep legal</label>
			<input type="text" id="nomrep_legal'+nextinput+'" name="nomrep_legal[]" class="form-control" maxlength="150" placeholder="Nombre de rep legal" aria-required="true">
		</div>
	</div>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Primer apellido de rep legal</label>
			<input type="text" id="primrep_legal'+nextinput+'" name="primrep_legal[]" class="form-control" maxlength="150" placeholder="Primer apellido de rep legal" aria-required="true">
		</div>
	</div>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Segundo apellido de rep legal</label>
			<input type="text" id="segunrep_legal'+nextinput+'" name="segunrep_legal[]" class="form-control" maxlength="150" placeholder="Segundo apellido de rep legal" aria-required="true">
		</div>
	</div>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Nombre de rep de trabajadores</label>
			<input type="text" id="nomrep_trabaja'+nextinput+'" name="nomrep_trabaja[]" class="form-control" maxlength="150" placeholder="Nombre de rep de trabajadores" aria-required="true">
		</div>
	</div>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Primer apellido de rep de trabajadores</label>
			<input type="text" id="primrep_trabaja'+nextinput+'" name="primrep_trabaja[]" class="form-control" maxlength="150" placeholder="Primer apellido de rep de trabajadores" aria-required="true">
		</div>
	</div>
	<div class="col-sm-6 col-xs-6">
		<div class="form-group">
			<label for="emp_razonsocial" class="control-label">Segundo apellido de rep de trabajadores</label>
			<input type="text" id="segunrep_trabaja'+nextinput+'" name="segunrep_trabaja[]" class="form-control" maxlength="150" placeholder="Segundo apellido de rep de trabajadores" aria-required="true">
		</div>
	</div>
</div>