app/config/config.ini.dev
cache/volt/*.php
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
vendor/*

public/archfactura/
public/cuestionario/


public/comprobantes/

public/reporte/

public/images/empresa

app/config/config.ini